registry=https://zs-sd.pkgs.visualstudio.com/_packaging/sd/npm/registry/
always-auth=true
strict-ssl=false
//zs-sd.pkgs.visualstudio.com/_packaging/sd/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//zs-sd.pkgs.visualstudio.com/_packaging/sd/npm/registry/:_password=eHRkbHpscXVxNDdmbHJjb3RqYzVza2JpbWdoN2NwNng1c2wzdGVlMzN2aTZoeHh0NDR4YQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//zs-sd.pkgs.visualstudio.com/_packaging/sd/npm/registry/:email=not-used@example.com
