<ul>
    <li routerLink="start-process/{{userId}}"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>Start New Process</a></li>
    <li routerLink="process-by-me/{{userId}}"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>Processes Requested by Me</a></li>
    <li routerLink="all-process"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>All Active Processes</a></li>
    <li routerLink="process-by-id"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>Get Process by ProcessID</a></li>
    <li routerLink="tasks-by-assignee/{{userId}}"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>Tasks for Me</a></li>
    <li routerLink="list-tasks"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>All Tasks</a></li>
    <li routerLink="list-tasks-by-pid"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>Get Tasks by ProcessID</a></li>
    <li routerLink="logs/{{userId}}"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>Task Audit Logs</a></li>
    <li routerLink="historic-data/{{userId}}"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>Historic Data</a></li>
        <li routerLink="process/callback"
        class=" zs-medium-text zs-cursor-pointer  zs-padding-2-2-2-0 zs-display-flex  zs-border-bottom">
        <a>Callback</a></li>
</ul>